{{outlet}}
{{view 'alerts'}}
<div class="col-md-12">
	<div class="add-project">
		<div class="project-header text-center">
			<h1>
				{{input class="col-md-offset-2 col-md-8" type="text" placeholder="Add your project title" value=title autofocus="autofocus"}}
			</h1>
			<br>
			<h4>
				{{input class="col-md-offset-2 col-md-8 top-space" type="text" placeholder="Add a summary of your article" value=summary}}
			</h4>
			<br>
			<div class="col-md-12 select-section">
				<div class="form-group">
					{{view "select" content=universities optionValuePath="content.id" optionLabelPath="content.name" id="university" value=university prompt="Please select your university."}}
				</div>
				<div class="form-group">
					{{view "select" content=departments optionValuePath="content.id" optionLabelPath="content.name" id="departments" value=department prompt="Please select your department."}}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-offset-2 col-md-8">
	<div class="cover">
		<hr>
		<div class="text-center">
			<h1>Cover Image</h1>
			<p>Select a picture to use as a cover in your post.</p> 
		</div>
		{{#if coverPreview}}
			<div class="cover-preview">
				<img {{bind-attr src=coverPreview class=:picture-preview}}>
			</div>
		{{/if}}
		<div class="picture-selector">
			<div class="col-md-12">
				{{#each image in coverOptions}}
					<div class="col-md-3 cover-options">
						<img {{bind-attr src=image.img class=:cover-thumbnails}} {{action 'coverPreview' image.img}}>
					</div>
				{{/each}}
			</div>
		</div>
		<p class="pull-right">
			Images from <a href="http://deathtothestockphoto.com/" target="_blank">Death To Stock</a>
		</p>
	</div>
</div>
<div class="col-md-offset-2 col-md-8">
	<div class="dropbox">
		<hr>
		<h1 class="text-center">Upload your screenshot.</h1>
		{{view 'dropbox'}}
	</div>
	<div class="add-project">
		<div class="project-story">
			{{textarea type="text" cols="66" rows="3" placeholder="Start writing your story" value=story autoresize=true}}
		</div>
	</div>
</div>