<div class="col-md-12">
	<div class="header text-center">
		<h1>Projects</h1>
		<p>Share your project expiriences with others {{link-to "here" "projects.add"}}.</p>
	</div>
	<div class="col-md-offset-3">
		<div class="col-md-8">
			<hr>
			<div class="projects">
				<div class="text-center">
					{{#each project in model}}
						<div class="project">
							<h2>{{project.title}}</h2>
							<p>{{project.summary}}</p>
							<p>Published {{transform-date project.createdAt}}</p>
							{{link-to "Read More" "projects.specific" project.id}}
							<hr>
						</div>
					{{/each}}		
				</div>
			</div>
		</div>
	</div>
</div>