{{view 'alerts'}}
<img {{bind-attr src=model.cover class=":sp-cover-image"}}>
<div class="sp-header">
	<h1>{{model.title}}</h1>
	<p>{{model.summary}}</p>
	<p>{{transform-date model.createdAt}}</p>
</div>
<div class="col-md-offset-1">
	<div class="col-md-10">
		<div class="sp-content">
			<img {{bind-attr src=model.screenshot class=":sp-screenshot"}}>
			<p>{{model.story}}</p>
		</div>
	</div>
</div>
