{{view 'alerts'}}
<div class="col-md-12">
	<div class="header text-center">
		<h1>Change Password</h1>
		<p>You can change other settings {{link-to "here" "users.edit"}}.</p>
	</div>
</div>
<div class="col-md-offset-3">
	<div class="col-md-8">
		<form {{action "update" on="submit"}}>
			<div class="form-group">
				<label for="currentPassword">Current password</label>
				{{input id="currentPassword" class="form-control" value=currentPassword type="password" disabled=updateSuccess required="required"}}
			</div>
			<div class="form-group">
				<label for="password1">New Password</label>
				{{input id="password1" class="form-control" value=password1 type="password" disabled=updateSuccess required="required"}}
			</div>
			<div class="form-group">
				<label for="password2">Confirm New Password</label>
				{{input id="password2" class="form-control" value=password2 type="password" disabled=updateSuccess required="required"}}
			</div>
			<button class="btn btn-success btn-lg btn-block" type="submit">Change Password</button>
		</form>	
	</div>
</div>