{{outlet}}
<div class="col-md-12">
	<div class="header text-center">
		<h1>Settings</h1>
		<p>
			Checkout your profile {{link-to "here" "users.specific" model.id}}. 
			<br>
			You can change your password {{link-to "here" "users.edit.changePassword"}}.
		</p>
	</div>
</div>
<div class="col-md-offset-2">
	<div class="col-md-10">
		{{#if updateSuccess}}
			<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Your updates were added successfully.</strong>
			</div>
		{{/if}}
		{{#if updateError}}
			<div class="alert alert-danger" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>An error occurred your updates were note added.</strong>
			</div>
		{{/if}}
	</div>
	<div class="col-md-3">
		<img {{bind-attr class=":settings-img :img-rounded" src=model.gravatarUrl}} />
		<h3>{{model.firstName}} {{model.lastName}}</h3>
		<p>Joined: {{transform-date model.createdAt}}</p>
		<hr/>
		<p>Email: {{model.email}}</p>
	</div>
	<div class="col-md-7">
		<form {{action "update" on="submit"}}>
			<div class="form-group">
				<label for="firstName">First Name</label>
				{{input class="form-control" type="text" value=model.firstName id="firstName"}}
			</div>
			<div class="form-group">
				<label for="lastName">Last Name</label>
				{{input class="form-control" type="text" value=model.lastName id="lastName"}}
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				{{input class="form-control" type="text" value=model.email id="email"}}
			</div>
			<button type="submit" class="btn btn-success btn-lg btn-block">
				Save
			</button>
		</form>
	</div>
</div>