{{outlet}}
<div class="one columns"></div>
<div class="three columns">
	<img {{bind-attr class=":settings-img :rounded-img" src=model.gravatarUrl}} />
	<h5>{{model.firstName}} {{model.lastName}}</h5>
	<hr/>
	<p>Email: {{model.email}}</p>
	<p>Joined: {{transform-date model.createdAt}}</p>
</div>
<div class="seven columns">
	<label for="firstName">First Name</label>
	{{input type="text" value=model.firstName id="firstName" class="u-full-width"}}
	<label for="lastName">Last Name</label>
	{{input type="text" value=model.lastName id="lastName" class="u-full-width"}}
	<label for="email">Email</label>
	{{input type="text" value=model.email id="email" class="u-full-width"}}
		<button class="u-pull-right" {{action 'update' model}}>
			Update
		</button>
</div>