{{outlet}}
<p>{{model.fullName}}</p>
<p>{{model.firstName}}</p>
<div>
	<label for="firstName">First Name:</label>
	{{input value=model.firstName id="firstName"}}
	<label for="lastName">Last Name</label>
	{{input value=model.lastName id="lastName"}}
	<button {{action 'update' model}}>
		Update
	</button>
</div>