{{! app/templates/login.hbs }}
<div class="col-md-12">
	<div class="header text-center">
		<h1>Showcase</h1>
		<p>Login or {{link-to 'create' 'users.register'}} an account in Showcase.</p>
	</div>
</div>
<div class="col-md-offset-3">
	<div class="col-md-8">
		{{#if successfullyCreated}}
			<div class="col-md-12 alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span {{action 'dismiss'}} aria-hidden="true">&times;</span>
				</button>
				<strong>You have been successfully registed!</strong> You can now login.
			</div>
		{{/if}}
		<form {{action 'authenticate' on='submit'}} role="form">
			<div class="form-group">
				<label for="identification">Email</label>
				{{input class="form-control" id='identification' placeholder='Email' value=identification}}
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				{{input class="form-control" id='password' placeholder='Password' type='password' value=password}}
			</div>
			<div class="col-md-6">
				<button type="submit" class="btn btn-success btn-lg btn-block">Login to Showcase</button>
			</div>
			<div class="col-md-6">
				{{link-to "Register" "users.register" class="btn btn-primary btn-lg btn-block"}}
			</div>
		</form>
	</div>
</div>